*{
    box-sizing: border-box;
}
body{
    font-family : Tahoma, Arial;
}
.repos-container{
    margin: auto;
    max-width: 800px;
    background-color: #f6f6f6;
}
.repos-container .get-repos{
    display: flex;
    padding: 20px;
    background-color: #eee;
}
.repos-container .get-repos input{
    padding: 20px;
    border: none;
    font-size: 20px;
    width: 100%;
}
.repos-container .get-repos input:focus{
    outline: 1px solid #f44336;
}
.repos-container .get-repos button{
    color: white;
    background-color: #f44336;
   // padding: 10px 3px;
    margin-left: 8px;
    width: 140px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    text-align: center;
}
.repos-container .show-data{
    padding: 20px;
    background-color: #e0e0e0;
}
.repos-container .show-data .repo-box{
    background-color: white;
    padding: 20px;
}
.repos-container .show-data .repo-box:not(:last-child) {
    margin-bottom: 10px;
}
.repos-container .show-data .repo-box a,
.repos-container .show-data .repo-box span {
        float: right;
        color: white;
        padding: 4px;
        margin-left: 5px;
        border-radius: 6px;
        font-size: 12px;
        text-align: center;
        width: 90px;
}
.repos-container .show-data .repo-box a {
        text-decoration: none;
        background-color: #E91E63;

}
.repos-container .show-data .repo-box span {
        background-color: #009688;
}


